@import url(../../fonts.css);

.projects-page {
  min-height: 100vh;
}

.project-video {
  width: 40%; /* Set width to 50% */
  flex-shrink: 0;
  padding-right: 60px;
}

.project-video video {
  width: 100%;
  height: auto;
}

.container-projects {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 80vh;
  overflow: hidden;
  flex-direction: row;
  gap: 20px; /* Adjusted spacing between text and video */
  width: 90%;
  margin-left: 90px;
  margin-top: -50px;
}

.banner h1{
  font-family: 'sinkin-sans300', sans-serif;
  font-size: 30px;
  padding-left: 0;
}

.banner p{
  font-family: 'sinkin-sans300', sans-serif;
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding-left: 0;
}