@import url(../../fonts.css);


.home {
    min-height: calc(100vh - 326px);
    width: 100%;
}

.name {
    font-family: 'sprat-condensedblack', sans-serif;
    font-size: 35px;
    margin-top: 250px;
    margin-left: 300px;
}

.branche {
    font-family: 'sinkin-sans', sans-serif;
    font-size: 25px;

    position: fixed;
    right: 80px;
    bottom: 50px;
}