@import url(../../fonts.css);

.home-page {
    position: relative;
    min-height: calc(100vh - 323px);
    width: 100%;
}

.name {
    font-family: 'sprat-condensedmedium', sans-serif;
    font-size: 50px;
    margin-top: 250px;
    margin-left: 200px;
}

.branche {
    font-family: 'sinkin-sans100', sans-serif;
    font-size: 25px;

    position: absolute;
    right: 80px;
    bottom: 0px;
}