@font-face {
    font-family: sinkin-sans300;
    src: url(../public/fonts/SinkinSans-300Light.otf);
}
.sinkin-sans300 {
    font-family: sinkin-sans300;
}

@font-face {
    font-family: sinkin-sans100;
    src: url(../public/fonts/SinkinSans-100Thin.otf);
}
.sinkin-sans100 {
    font-family: sinkin-sans100;
}

@font-face {
    font-family: sprat-condensedmedium;
    src: url(../public/fonts/Sprat-CondensedMedium.otf);
}
.sprat-condensedmedium{
    font-family: sprat-condensedmedium;
}