@import url(../../fonts.css);

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    height: 60px;
    z-index: 1000;
}

.nav-links {
    position: absolute;
    left: 50px;
}

.nav-item {
    text-decoration: none;
    font-family: 'sinkin-sans', sans-serif;
    font-size: 18px;
    color: black;
    margin-right: 100px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
}